
@{
    ViewBag.Title = "KategoriEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<form  method="post" class="form-group">

    <div style="margin-top:30px; margin-bottom:20px">
        <label>Kategori Adı</label>
        <input type="text" name="AD" class="form-control"/>
    </div>
    <div>
        <button class="btn btn-success" style="background-color:green; color:white" id="btn1">Kategori Ekle </button>
        <a href="/Kategori/Index/" style="background-color:red; color:white" class="btn btn-danger">İptal</a>
    </div>
</form>

